* {     box-sizing: border-box; 
max-width: 100%;}
html{
 font-size: 14px;
height: 100%;}
body { 
margin: 0;
background-image: url("/multimedias/Binario_c.png");
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
overflow-x: hidden;}
/*------------------------------------------------*/
.encabezado_y_pie{
display: flex;
gap: 1.2rem;
width: 100%;
padding: 0%;
height: 5%;

background: linear-gradient(45deg, #32B92D 0%, #000000 100%);
font-size: 1rem;
font-style: italic;
word-spacing: 0.3rem;
font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
color: antiquewhite;
justify-content: center;}
footer{
    position: fixed;
    bottom: 0;}
.encabezado_y_pie img{
    width: 1rem;
    height: 1rem;}
/*------------------------------------------------*/
.container *{
   overflow: hidden;
flex: none;}
.container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 2%;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   gap: 10%;}
/*------------------------------------------------*/
.sector_medio, .rectangle{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-bottom: 2%;
    padding: 1%;
    align-items: center;
    border-radius: 2rem;}
.rectangle{
       background-color: white;}
     .sector_medio{
        background-color:#B3FFB3;
     }

.rectangle_mensaje{
    width: 100%;
    height: 45%;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    justify-content: center;}
.rectangle_mensaje h6{
    justify-content: center;
    font-size: 1rem;}

    .rectangle_img{
width: 100%;
height: 50%;
display: block;
align-items: center;
justify-content: center;
overflow: hidden;}
.rectangle_img img{
    object-fit: contain;}
    /*#imagen_rect{
        width: 25%;
        height: 25%;}
/*-----*/
textarea{
width: 90%;
height: 40%;
resize: none;
border-radius: 12px;
text-align: center;
align-items: center;
justify-content: center;}
/*---*/
h1{
    text-align: center;
    font-size: 1.8rem;
    word-spacing: 0.4rem;
font-family: "Arial Black", Gadget, sans-serif;
color: #1D9627;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
justify-content: baseline;}


/*------------------------------------------------*/
.sector_medio_button{
    display: flex;
    width: 100%;
    height:20%;
    min-height: 10%;
   justify-content: center;
    flex-direction:row;
    gap: 1rem;}
button{
  width: 50%;
  height: 60%;
    color: rgb(234, 234, 234); 
    font-size: 1rem; 
    line-height: 3rem; 
    border-radius: 2rem; 
    text-align: center;
    justify-content: center;
    font-family: "Arial Black", "Gadget", sans-serif; 
    font-weight: normal; text-decoration: none; 
    font-style: normal; font-variant: normal; 
    text-transform: uppercase;
     background-image: linear-gradient(135deg, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 44%, rgb(20, 78, 117) 100%); 
     box-shadow: rgba(0, 0, 0, 0) -100px -45px 15px 5px; border: 2px solid rgb(28, 110, 164); 
     display: block;}
button:hover {
background: #1C6EA4; }
button:active {
background: #1a6ba1; }
.reset{
    display: none;
    overflow: scroll;
}
#sintaxis{
    font-size: 1rem;
margin: 0;}

#cuadro_de_texto{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10%;
   
     align-items: center;
    justify-content: center;
height: 80%;

}

.cifrado{
    display: none;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 1.2rem;}
/*------------------------------------------------------------*/
#mensaje{
text-align: center;
font-family: "Edu VIC WA NT Beginner", "cursive";
 font-optical-sizing: auto;
font-size:1rem;
font-style: normal;
color:#000000;
font-weight: normal;
text-decoration:content;
background-color: rgb(255,255,179);
padding: 20%;}
#mensajeFlotante, #mensaje_vacio {
  position:fixed;
  display: none;
  left: 45%;
  top:50%;
  text-align: center;
  transform: translateX(-50%,-50%);
  min-width: 16rem;
  background-color: #333;
  color: #fff;
border-radius: 1rem;
     padding: 0.8rem;
font-size: 1,2rem;}

@media (max-width: 930px) {
    html{
        font-size: 10px;}  }
        @media (max-width: 670px) {
            html{
                font-size: 8px;}  

}
@media (max-width: 600px) {
    .container{
        flex-direction: column;
        }
        .rectangle, .sector_medio{
            flex-direction: row;
            width: 100%;
  height: 40%;
left: 0%;} }